.small-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    color: #999999;
    text-align: center;
}


/* .small-logo:before {
    content: "";
    display: block;
    width: 120px;
    height:2px;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}

.small-logo:after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
} */
