.small-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    color: #999999;
    text-align: center;
}

.author-info{
    color: #515859;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

/*thanks to w3*/
#share-button {
    background-color: #BC7058;
    border: none;
    color: white;
    font-family:'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;

}


/* .small-logo:before {
    content: "";
    display: block;
    width: 120px;
    height:2px;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}

.small-logo:after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
} */
